@{
    Layout = null;
}
@model AccountOrderModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Account</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a asp-action="Index" asp-controller="Home">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Account</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- Profile Start -->
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                                 class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">@Model.account.Username</h5>
                            <p class="text-muted mb-1">UTC Fashion User</p>
                        </div>
                    </div>
                    <div class="card mb-4 mb-lg-0">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.account.Username</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.account.Email</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">None</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">None</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Profile End -->
    <table class="table table-bordered text-center mb-0">
        <thead class="bg-secondary text-dark">
            <tr>
                <th>Order ID</th>
                <th>Createdate</th>
                <th>Total</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            @foreach(var order in Model.orders)
            {
                <tr>
                    <td class="align-middle">@order.Id</td>
                    <td class="align-middle">@order.Createdate</td>
                    <td class="align-middle">@order.Total</td>
                    <td class="align-middle">@order.Fullname</td>
                    <td class="align-middle">@order.Address</td>
                    <td class="align-middle">@order.Phone</td>
                    <td class="align-middle">
                        <form asp-controller="Auth" asp-action="OrderDetail" method="post">
                            <input type="hidden" name="id" value="@order.Id" />
                            <button type="submit">View</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    @if(Model.products != null)
    {
        <table class="table table-bordered text-center mb-0">
            <thead class="bg-secondary text-dark">
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                @for(int i=0 ; i<Model.products.Count ; i++)
                {
                        var a = Model.products[i];
                        var b = Model.orderdetails[i];
                        <tr>
                        <td class="align-middle"><img src="@a.Image" alt="" style="width: 50px;">@a.Name</td>
                        <td class="align-middle">@a.Price</td>
                        <td class="align-middle">@b.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>